@import '../../../../../theme/ThemeColors';

.edit-menu-base {
  background: #f8f9fc;
  width: 100%;
  border: none;
  height: 180px;
  z-index: 2;
  padding: 15px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-bottom: 1px solid #d4deea;
  overflow: scroll;

  .field-updates-body-controlActivity {
    display: flex;
    margin-top: 5px;
    align-items: center;
  }

  p {
    color: #8094ae;
    margin: 0;
    font-size: 14px;
  }
}

.edit-div {
  margin-top: 5px;
  background-color: #fff;
  height: 32px;
  color: #364a63;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #d4deea;
  cursor: pointer;
  white-space: wrap;
  overflow: auto;
}

.decision-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancel-button {
  margin-right: 20px;
  color: rgb(121, 121, 121);
  cursor: pointer;
}

.update-button {
  margin-left: 10px;
  padding: 10px 30px;
  background: rgb(230, 151, 5);
  border-radius: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.change-status-div {
  width: 100%;
  margin-top: 5px;
  height: 32px;
  border-radius: 3px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #d4deea;
}
