.form-div {
  margin-left: 60px;
  padding-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-right: 30px;
}

.create-company-inputs {
  width: 100%;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.404);
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-top: 1em;
  background-color: #fff;
  font-size: 17px;
}

.create-company-textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.404);
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-top: 1em;
  resize: none;
  font-size: 17px;
}
label {
  margin-top: 1em;
}

.form-submit {
  margin-top: 3.5em;
  width: 100%;
}

.cancel {
  cursor: pointer;
  color: rgba(7, 7, 7, 0.733);
  float: right;
  margin-right: 30px;
}

.submit-button {
  margin-top: -14px;
  margin-right: -22px;
}

.form-header {
  font-size: 20px;
  margin-bottom: 15px;
}
