@import '../../../theme/ThemeColors';

.search-div {
  border-bottom: 1px solid #d4deea;
  padding: 0 15px;
  justify-content: space-between;
  height: 60px;

  display: flex;
  align-items: center;
}

.delete-botton {
  color: $button-colors-primary;
  font-size: 16px;
  cursor: pointer;
}

.input-container {
  position: relative;
  width: 25%;
  margin-right: 16px;

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 5px;
  }
}

.search-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #8094ae;
  font-size: 18px;
}

.search-input {
  height: 30px;
  width: 100%;
  padding-left: 28px;
  border: 1px solid #d4deea;
  color: #8094ae;
  border-radius: 3px;
}

.pagination-div {
  margin-top: auto;
  margin-bottom: 1px;
  height: 50px;
}

.user-role-table-header {
  display: table;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #d4deea;
  background: #f8f9fc;
  font-weight: 600;
  color: #8094ae;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.user-role-table-header span {
  display: table-cell;
  table-layout: fixed;
  padding: 10px;
  color: #8094ae;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
}

.user-roles-check-input {
  width: 3%;
}

.user-roles-username {
  width: 20%;
}

.user-roles-company {
  width: 20%;
}

.user-roles-role {
  width: 15%;
}

.user-roles-date {
  width: 15%;
}

.user-roles-status {
  width: 10%;
}

.user-roles-action {
  width: 5%;
}

.mobile_table_userroles {
  height: calc(100vh - 230px);
  overflow: scroll;
  display: none;

  @media (max-width: 991.98px) {
    height: calc(100vh - 238px);
    display: block;
  }

  @media (max-width: 768px) {
    height: calc(100vh - 230px);
    display: block;
  }

  > div:nth-child(even) {
    background: #d4deea;

    .grid_3_1 {
      border-top: 1px solid white;
    }
  }
}

.grid_3_1 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 1rem;
  border-top: 1px solid #d4deea;
  padding: 10px;

  h3 {
    color: #8094ae;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }

  svg {
    fill: #929db0;
  }

  p {
    margin: 0;
    color: #364a63;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.blue_text {
      color: #2586ff;
    }

    span {
      color: #2586ff;
    }
  }
}
