$primeColor: #0c094a;
$text-color: #fff;
$prime-font: 'Roboto';

.roles_container {
  display: grid;
  grid-template-columns: 1fr 3.2fr;
}
.roles_menu {
  background-color: $primeColor;
  height: 100vh;
  position: fixed;
  top: sticky;
}
.roles_menu_under {
}
.menu_header {
  color: $text-color;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  height: 64px;
  border-bottom: 1px solid #ddd;
}

.menu_options_container {
  list-style: none;
  padding: none;
  margin: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.menu_option {
  font-family: $prime-font;
  box-sizing: border-box;

  :hover {
    background-color: $text-color;
    color: $primeColor;
  }
}
