@import '../../../theme/ThemeColors';

.search-div {
  border-bottom: $border-size solid $border-colors;
  padding: 10px;
  display: flex;
  align-items: center;
}

.delete-botton {
  margin-left: auto;
  margin-right: 10px;
  color: $button-colors-primary;
  font-size: 20px;
  cursor: pointer;
}

.input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 10px;
  color: $search-icon-color;
  cursor: pointer;
}

.search-input {
  padding-left: 40px;
  height: 40px;
  width: 300px;
}

.pagination-div {
  margin-top: auto;
  margin-bottom: 1px;
  height: 50px;
}

.user-role-table-header {
  border-bottom: $border-size solid $border-colors;
  align-items: center;
  padding: 10px;
  display: table;
  width: 100%;
  color: $table-header-text-color;
  font-weight: $table-header-font-weight;
  font-size: $table-header-font-size;
}

.user-role-table-header span {
  display: table-cell;
  table-layout: fixed;
  padding-right: 10px;
}
.user-roles-check-input {
  width: 3%;
}

.user-roles-username {
  width: 20%;
}

.user-roles-company {
  width: 20%;
}

.user-roles-role {
  width: 15%;
}

.user-roles-date {
  width: 15%;
}

.user-roles-status {
  width: 10%;
}

.user-roles-action {
  width: 5%;
}
