.field-update-base-div {
  border: 1px solid black;
  height: calc(600px + 10vh);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.field-update-search-div {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.field-input {
  height: 30px;
  width: 250px;
  margin-left: 20px;
  padding: 0px 25px;
}

.field-search-icon {
  position: absolute;
  margin-top: 4px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.61);
  cursor: pointer;
}

.map-view-button {
  padding: 10px 20px;
  background-color: blue;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}

.map-icon {
  margin-right: 15px;
}
