@import '../../../../theme/ThemeColors';

.project-title-div {
  border: 1px solid #D4DEEA;
  padding: 10PX;

  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-edit-icon {
  float: right;
  font-size: 22px;
  color: $edit-icon-color;
  cursor: pointer;
}

.current-project-title {
  color: #526484;
  font-size: 16px;
  font-weight: 700;
}

.project-details-div {
  border: 1px solid #D4DEEA;
  border-radius: 3px;
  padding: 40px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  span,
  p {
    word-break: break-all;
  }

  @media (max-width:768px) {
    display: flex;

    span {
      width: 100%;
    }
  }
}

.project-name {
  grid-column: 1;
  grid-row: 1;
  word-wrap: break-word;
}

.project-client {
  grid-column: 1;
  grid-row: 2;
  word-wrap: break-word;
}

.project-description {
  grid-column: 2;
  grid-row: 1 / 4;
  word-wrap: break-word;
}

.project-start-date {
  grid-column: 3/4;
  grid-row: 1/2;
  word-wrap: break-word;
}

.project-completion-date {
  grid-column: 3/4;
  grid-row: 3/2;
  word-wrap: break-word;
}

.project-last-update {
  grid-column: 4/4;
  grid-row: 1/2;
  word-wrap: break-word;
}

.project-updated-by {
  grid-column: 4/4;
  grid-row: 2/2;
  word-wrap: break-word;
}

.project-data {
  font-weight: 400;
  color: #8094AE;
}

.project-data-label {
  color: #364A63;
  font-size: 14px;
  margin-bottom: 20px;
}

.projects-base-div {
  height: calc(100vh - 265px);
  overflow: auto;

  @media (max-width: 1024px) {
    height: calc(100vh - 272px);


  }
}