@import '../../../../../theme/ThemeColors';

.import_container {
  width: 100%;
  margin: auto;
}

.import_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #1976d2;
  border: none;
  outline: none;
  color: #fff;
  padding: 3px 5px;
  border-radius: 3px;
}