@import '../../../../theme/ThemeColors';

.project-card-base-div {
  display: table;
  width: 100%;
  border-bottom: 1px solid #D4DEEA;

  &:last-child {
    border: none;
  }
}

.project-card-base-div span {
  display: table-cell;
  table-layout: fixed;
  padding: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #364A63;
  margin-left: 10px;

  p {
    word-break: break-all;
    margin: 0;
  }

  svg {
    font-size: 18px;
  }
}

.project-menu-icon {
  color: $menu-icon-color;
  cursor: pointer;
  font-size: $menu-icon-size;
}

.project-card-check-input {
  width: 3%;
}

.project-card-project-name {
  width: 15%;
}

.project-card-client {
  width: 11%;
}

.project-card-description {
  width: 15%;
  // white-space: pre-wrap;
  overflow-wrap: break-word;
}

.project-card-start-date {
  width: 11%;
}

.project-card-end-date {
  width: 11%;
}

.project-card-last-update {
  width: 11%;
}

.project-card-user-last-update {
  width: 15%;
}

.project-card-user-actions {
  width: 6%;
  cursor: pointer;
}