@import '../../../../theme/ThemeColors';

.project-card-base-div {
  border-bottom: $border-size solid $border-colors;
  padding: $table-data-padding;
  width: 100%;
  font-size: 18px;
}
div.table {
  display: table;
  width: 100%;
}
div.table span {
  display: table-cell;
  table-layout: fixed;
  color: $table-data-color-1;
}

.project-menu-icon {
  color: $menu-icon-color;
  cursor: pointer;
  font-size: $menu-icon-size;
}
.project-card-check-input {
  width: 3%;
}
.project-card-project-name {
  width: 15%;
}
.project-card-client {
  width: 11%;
}

.project-card-description {
  width: 15%;
  text-overflow: clip;
}
.project-card-start-date {
  width: 11%;
}
.project-card-end-date {
  width: 11%;
}
.project-card-last-update {
  width: 11%;
}
.project-card-user-last-update {
  width: 15%;
}
.project-card-user-actions {
  width: 6%;
}
