.project-card-base-div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding: 15px;
  width: 100%;
  font-size: 18px;
}
div.table {
  display: table;
  width: 100%;
}
div.table span {
  display: table-cell;
  table-layout: fixed;
}
