.row_description{
    padding: 12px 15px;
    text-align: left;
}

.row_container{
    border-top: 1px solid #ddd;
}

.row_input{
    width: 15px;
}

.row_description:first-child{
    padding: 0 0 0 15px;
}