@import '../../theme/ThemeColors';

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 36px;
  margin-bottom: 10px;

  button {
    background: #0160e0;
    color: white;
    padding: 6px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .header {
    margin: 0;
    font-size: 20px;
    color: #364a63;

    @media (max-width: 991.98px) {
      font-size: 18px;
    }
  }
}

.base-div {
  .MuiTabs-root {
    min-height: inherit;
  }

  .MuiButtonBase-root {
    padding: 8px 0;
    margin-right: 28px;
    text-transform: initial;
    min-height: inherit;

    @media (max-width: 768px) {
      padding: 7px 0;
    }
  }
}



.project-management-search-icon {
  position: absolute;
  margin-top: 6px;
  margin-left: 8px;
  color: #8094AE;
  font-size: 18px;
}

.project-management-search-input {
  height: 30px;
  width: 100%;
  padding-left: 28px;
  border: 1px solid #D4DEEA;
  color: #8094AE;
  border-radius: 3px;
}

.project-management-search-div {
  width: 25%;
  margin-right: 16px;
}

.project-management--parent-search-div {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 0 15px;
  height: 60px;
  border-bottom: 1px solid #D4DEEA;
  // flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: space-between;
    padding: 0 10px;
  }
}

.project-management-table-header {
  display: table;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #D4DEEA;
  background: #F8F9FC;
  font-weight: 600;
  // padding: 0px 7px;
  color: #8094AE;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.project-management-table-header span {
  display: table-cell;
  padding: 15px 10px;

  table-layout: fixed;
  vertical-align: middle;

  p {
    margin: 0;
  }
}

.pm-table-body {
  height: calc(100vh - 445px);
  overflow: hidden;

  @media (max-width: 1024px) {
    height: calc(100vh - 450px);


  }

  @media (max-width: 991.98px) {
    display: none;
  }
}

.mobile_table_pm-project {
  height: calc(100vh - 213px);
  overflow: auto;
  display: none;

  @media (max-width: 991.98px) {
    display: block;
    height: calc(100vh - 237px);
  }

  @media (max-width: 768px) {
    height: calc(100vh - 301px);

  }

  >div:nth-child(even) {
    background: #D4DEEA;

    .grid_3_1 {
      border-top: 1px solid white;
    }
  }
}

.grid_3_1 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 1rem;
  border-top: 1px solid #D4DEEA;
  padding: 10px;

  h3 {
    color: #8094AE;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }

  svg {
    fill: #929DB0;

  }

  p {
    margin: 0;
    color: #364A63;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.blue_text {
      color: #2586FF;

    }

    span {
      color: #2586FF;

    }
  }
}