@import '../../theme/ThemeColors';

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 36px;
  margin-bottom: 10px;

  button {
    background: #0160e0;
    color: white;
    padding: 6px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .header {
    margin: 0;
    font-size: 20px;
    color: #364a63;

    @media (max-width: 991.98px) {
      font-size: 18px;
    }
  }
}

.base-div {
  .MuiTabs-root {
    min-height: inherit;
  }

  .MuiButtonBase-root {
    padding: 8px 0;
    margin-right: 28px;
    text-transform: initial;
    min-height: inherit;

    @media (max-width: 768px) {
      padding: 7px 0;
    }
  }
}

.project-management-search-div input {
  width: 300px;
  height: 40px;
}

.project-management-search-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  color: $search-icon-color;
}

.project-management-search-input {
  height: 35px;
  width: 100%;
  padding-left: 30px;
  border: $border-size solid $border-colors;
  border-radius: $border-radius-size;
}

.project-management-search-div {
  width: 300px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.project-management--parent-search-div {
  width: 100%;
  display: block;
  border-bottom: 1px solid rgb(39, 39, 39);
  padding: 10px;
}

.project-management-table-header {
  border-bottom: $border-size solid $border-colors;
  align-items: center;
  padding: 10px;
  display: table;
  width: 100%;
  color: $table-header-text-color;
  font-weight: $table-header-font-weight;
  font-size: $table-header-font-size;
  background: #f8f9fc;
  vertical-align: middle;
}

.project-management-table-header span {
  display: table-cell;
  table-layout: fixed;
  padding-right: 10px;
  font-size: $table-header-font-size;
}