@import '../../theme/ThemeColors';

.new_project_button {
  width: 150px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: -30px;
  background-color: $button-colors-primary;
  padding: 10px;
  color: #fff;
  border-radius: $button-border-radius;
  text-align: center;
  cursor: pointer;
}

.project-management-search-div input {
  width: 300px;
  height: 40px;
}

.project-management-search-icon {
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
  color: $search-icon-color;
}

.project-management-search-input {
  height: 35px;
  width: 100%;
  padding-left: 30px;
  border: $border-size solid $border-colors;
  border-radius: $border-radius-size;
}

.project-management-search-div {
  width: 300px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.project-management--parent-search-div {
  width: 100%;
  display: block;
  border-bottom: 1px solid rgb(39, 39, 39);
  padding: 10px;
}

.project-management-table-header {
  border-bottom: $border-size solid $border-colors;
  align-items: center;
  padding: 10px;
  display: table;
  width: 100%;
  color: $table-header-text-color;
  font-weight: $table-header-font-weight;
  font-size: $table-header-font-size;
}

.project-management-table-header span {
  display: table-cell;
  table-layout: fixed;
  padding-right: 10px;
  font-size: $table-header-font-size;
}
