@import '../../../../../../theme/ThemeColors';

.datagrid_contaier {
  border: 1px solid #d4deea;
  border-radius: 3px;
  width: 100%;
  overflow: auto;
}

.datagrid_head {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 60px;
  border-bottom: 1px solid #d4deea;
}

.datagrid_tables {
  width: 100%;
  border-collapse: collapse;

  thead {
    position: sticky;
    top: 0;
    background: #f8f9fc;
  }

  tr {
    vertical-align: top;
  }

  th {
    padding: 10px;
    font-weight: 600;
    vertical-align: middle;

    text-align: left;
    background: #f8f9fc;
    word-break: break-all;

    color: #8094ae;
    font-size: 14px;
  }

  th,
  td {
    min-width: 100px;
    word-break: break-all;


  }

  td {
    border-top: 1px solid #d4deea;
    padding: 10px;
    color: #364a63;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;

    &.blue-text {
      color: #2586ff;
    }

    svg {
      fill: #929db0;
    }
  }
}



.check_con {
  min-width: inherit !important;
  width: 50px !important;
}

.head_search {
  display: flex;
  align-items: center;
  border: 1px solid $border-colors;
  border-radius: 3px;
  width: 300px;
  padding: 2px 0;
}

.search_input {
  border: none;
  outline: none;
  width: 100%;
}

.delete_button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #1976d2;
}

.table_body {
  border-bottom: 1px solid #ddd;
  min-height: 500px;
}

.table_slider_container {
  padding: 20px;
}

.table_slider {
  display: flex;
  width: max-content;
}

.page_buttons {
  display: flex;
}

.chapter_button {
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #000000;

  :first-child {
    background: #1976d2;
  }
}

.no_data_found {
  width: 100%;
  text-align: center;

}