.button {
  background-color: rgb(36, 36, 255);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: 160px;
  text-align: center;
  margin-right: 0px;
  margin-left: auto;
  margin-top: -30px;
  cursor: pointer;
}
.user-role-div {
  margin-top: 30px;
  height: 90%;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.342);
  display: flex;
  flex-direction: column;
}

.search-div {
  border-bottom: 2px solid rgba(0, 0, 0, 0.342);
  padding: 10px;
  display: flex;
  align-items: center;
}

.search-input {
  height: 40px;
  width: 40%;
  padding-left: 30px;
  border: 2px solid rgba(0, 0, 0, 0.322);
  color: rgba(0, 0, 0, 0.479);
  font-size: 16px;
  border-radius: 3px;
}

.delete-botton {
  margin-left: auto;
  margin-right: 10px;
  color: blue;
  font-size: 20px;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  margin-left: 5px;
  font-size: 25px;
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.562);
}

.pagination-div {
  margin-top: auto;
  margin-bottom: 1px;
  border: 1px solid rgba(0, 0, 0, 0.479);
  height: 50px;
}

.header-table {
  display: table;
  width: 100%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.705);
  border-bottom: 1px solid rgba(0, 0, 0, 0.479);
  padding: 10px 0px;
}
.header-table span {
  display: table-cell;
  table-layout: fixed;
}

.check-input {
  width: 3%;
}

.check-input input {
  height: 15px;
}

.company-name {
  width: 17%;
}

.address {
  width: 15%;
}

.city {
  width: 10%;
}

.status {
  width: 16%;
}

.text-color {
  color: rgba(0, 0, 0, 0.712);
  font-weight: 500;
  font-size: 20px;
}
