.button {
  background-color: rgb(36, 36, 255);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: 160px;
  text-align: center;
  margin-right: 0px;
  margin-left: auto;
  margin-top: -30px;
  cursor: pointer;
}

.pagination-div {
  margin-top: auto;
  margin-bottom: 1px;
  border: 1px solid rgba(0, 0, 0, 0.479);
  height: 50px;
}

.header-table {
  display: table;
  width: 100%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.705);
  border-bottom: 1px solid rgba(0, 0, 0, 0.479);
  padding: 10px 10px;
}
.header-table span {
  display: table-cell;
  table-layout: fixed;
}

.check-input {
  width: 3%;
}

.company-name {
  width: 17%;
}

.address {
  width: 15%;
}

.city {
  width: 10%;
}

.status {
  width: 16%;
}

.text-color {
  color: rgba(0, 0, 0, 0.712);
  font-weight: 500;
  font-size: 20px;
}
