* {
  margin: 0px;
  padding: 0px;
}

.base-div {
  height: 90%;
  width: 100%;
  display: flex;
  padding: 10px 50px;
  flex-direction: column;
}

.header {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.596);
}

.footer {
  margin-bottom: -30px;
  margin-top: auto;
  margin-right: auto;
  color: rgba(0, 0, 0, 0.644);
}
