* {
  margin: 0px;
  padding: 0px;
}

.base-div {
  padding: 15px 40px 10px 40px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: calc(100vw - 280px);
  height: calc(100vh - (38px + 67px));

  @media (max-width: 1024px) {
    padding: 15px;
  }

  @media (max-width: 991.98px) {
    padding: 10px;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.header {
  margin: 0;
  font-size: 20px;
  color: #364a63;
  // margin-bottom: 10px;

  @media (max-width: 991.98px) {
    font-size: 18px;
  }
}

.footer {
  border-top: 1px solid #d4deea;
  padding: 14px 14px 10px 14px;
  color: #8094ae;
  font-size: 12px;
  margin: 0;
}