* {
  padding: 0;
  margin: 0;
}

.base_div {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.178);
  position: absolute;
  display: unset;
  z-index: 2;
}

.right-div {
  overflow: hidden;
  background-color: #fff;
  min-height: 100vh;
  width: 25vw;
  margin-right: 0px;
  margin-left: auto;
  padding: 0px 50px 0px 0px;
}
