@import '../../../theme/ThemeColors';

.data-grid-base {
  margin-top: 30px;
  height: 90%;
  width: 100%;
  border: $border-size solid $border-colors;
  display: flex;
  border-radius: $border-radius-size;
  flex-direction: column;
}
