@import '../../../theme/ThemeColors';

.data-grid-base {
  margin-top: 30px;
  display: inline-flex;
  height: 90%;
  width: 100%;
  border: $border-size solid $border-colors;
  border-radius: $border-radius-size;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.data-grid-base::-webkit-scrollbar {
  width: 0;
  height: 0;
}
