@import '../../../theme/ThemeColors';

.data-grid-base {
  margin-top: 16px;
  border: 1px solid #d4deea;
  border-radius: 3px;
  width: 100%;
  // min-height: 80vh;
  overflow: auto;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.data-grid-base::-webkit-scrollbar {
  width: 0;
  height: 0;
}