@import '../../../../theme//ThemeColors';

.import-project-data-add-button {
  background: #0160e0;
  color: white;
  padding: 6px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  border: none;
  outline: none;
  position: absolute;
  right: 40px;
  top: 15px;
}

.project-bread-crumbs {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.project-main-div {
  margin-top: 20px;
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .MuiTabs-flexContainer {
    width: calc(100vw - 300px);
    overflow: auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.tab-pannel-base {
  // height: 90%;
  width: 100%;
}

.project-pannel-base-div {
  width: 100%;
  // height: 95%;
}