@import '../../../../theme/ThemeColors';

.assign-task-modal-base-div {
  min-width: 500px;
  max-width: 50%;
  // height: 50%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: scroll;

  @media (max-width: 768px) {
    width: 90%;
    min-width: initial;
    max-width: initial;
  }
}

.assign-form-base-div {
  padding: 70px 50px 40px 50px;

  @media (max-width: 768px) {
    padding: 30px;
  }

  label {
    word-wrap: break-word;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: left;
    color: #526484;
    display: block;
  }
}

.assign-form-base-div select {
  border: 1px solid #d4deea;
  border-radius: 3px;
  padding: 15px;
  resize: none;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid #d4deea;
  }
}

.assign-task-modal-control-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px 40px 50px;

  @media (max-width: 768px) {
    padding: 0 30px 30px 30px;
  }

  span {
    margin-left: 30px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    font-weight: 500;
    line-height: initial;

    border-radius: 5px;
  }
}

.assign-task-modal-cancel-button {
  color: #8094ae;
}

.assign-task-modal-submit-button {
  color: #fff;
  background-color: #e78201;
}
