.user-role-base {
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding: 15px;
  width: 100%;
  font-size: 18px;
}

div.table {
  display: table;
  width: 100%;
}

div.table span {
  display: table-cell;
  table-layout: fixed;
}

.user-roles-card-check-input {
  width: 3%;
}

.user-roles-card-username {
  width: 20%;
}

.user-roles-card-company {
  width: 20%;
}

.user-roles-card-role {
  width: 15%;
}

.user-roles-card-date {
  width: 15%;
}

.user-roles-card-status {
  width: 10%;
}

.user-roles-card-action {
  width: 5%;
}

.non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-icon {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  cursor: pointer;
}

.header {
  color: #364A63;

}

.user-role-base {
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding: 15px;
  width: 100%;
}