.user-role-base {
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding: 15px;
  width: 100%;
  font-size: 18px;
}

div.table {
  display: table;
  width: 100%;
}
div.table span {
  display: table-cell;
  table-layout: fixed;
}

.check-input {
  width: 3%;
}

.username {
  width: 30%;
}

.date {
  width: 21px;
  color: rgba(54, 54, 54, 0.61);
}

.role {
  width: 20%;
}

.status {
  width: 16%;
}

.non-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.action {
  width: 10%;
}

.menu-icon {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}

.header {
  color: rgba(34, 34, 34, 0.658);
}

.user-role-base {
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding: 15px;
  width: 100%;
}
