.form_input_container{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.form_header{
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #364A63;
}

.form_input{
    padding: 7px 8px;
    outline: none;
    border-radius: 3px;
    border: 1px solid;
    background: #FFFFFF;
    border: 1px solid #8094AE;
    box-sizing: border-box;
    border-radius: 3px;
}

.form_label{
    font-size: 11px;
    padding: 5px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #526484;
}

.form_buttons_container{
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;
}

.form_button_1{
    padding: 0 15px;
}

.form_error{
    font-size: 11px;
    height: 10px;
    color: red;
}