@import '../../../../theme/ThemeColors';

.worklist-card-table-body {
  display: table;
  width: 100%;
  border-bottom: 1px solid #D4DEEA;
}

.worklist-card-table-body span {
  display: table-cell;
  table-layout: fixed;
  padding: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #364A63;
}

.worklist-card-management-check-input {
  width: 3%;
}

.worklist-card-management-project-name {
  width: 19%;
  white-space: nowrap;
}

.worklist-card-management-task-name {
  width: 19%;
  white-space: nowrap;
}

.worklist-card-management-task-description {
  width: 21%;
  white-space: nowrap;
}

.worklist-card-management-isMilestone {
  width: 14%;
  white-space: nowrap;
}

.worklist-card-management-type {
  width: 14%;
  white-space: nowrap;
}

.worklist-card-management-actions {
  width: 6%;
  white-space: nowrap;
}

.worklist-management-card-more-icon {
  color: $menu-icon-color;
  cursor: pointer;
}