.assignment-of-field-activities {
  margin-top: 100px;
  margin-bottom: 200px;
}

.field-updates-body-taskItem {
  width: 15%;
}

.field-updates-body-milestoneApproval {
  width: 29%;
}

.field-updates-body-status {
  width: 23%;
}

.field-updates-body-controlActivity {
  width: 23%;
}

.field-updates-body-actions {
  width: 10%;
}
