body > iframe {
  display: none;
}

.map-view-base-div {
  width: 100%;
  height: calc(100vh - 328px);
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    overflow: auto;
  }
}

.map-view-base-div.is-fullmap {
  // width: 100%;
  height: 92vh;
  // display: flex;
  // flex-direction: row;
  // overflow: hidden;

  // @media (max-width: 768px) {
  //   flex-wrap: wrap;
  //   overflow: auto;
  // }
}

.map-view-map-div {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
}

.map-view-details-div {
  height: 100%;
  overflow: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #d4deea;
  padding: 15px;

  @media (max-width: 768px) {
    width: 100%;
    overflow: initial;
  }
}

.map-view-assign-project-header {
  font-size: 18px;
  color: #364a63;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.map-view-document-search-div {
  label {
    color: #526484;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .map-view-wraper-con {
    display: flex;
    align-items: center;
    border: 1px solid #8094ae;
    padding: 8px;
    border-radius: 3px;
  }
}

.map-view-document-search-div input {
  color: #52648440;
  border: none;
  outline: none;
  flex: 1;
  width: calc(100% - 50px);

}


.map-view-document-preview {
  width: 100%;
  min-height: 320px;
  max-height: 320px;
  border: 1px solid #8094ae;
  background: #f8f9fc;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 14px;
  color: #526484;
}

.map-view-document-details {
  margin-top: 20px;
  display: grid;
  padding: 15px;
  grid-template-columns: repeat(2, 50%);
  gap: 15px;
  border: 1px solid #8094ae;
  background-color: #f8f9fc;
  border-radius: 3px;

  p {
    color: #8094ae;
    font-size: 14px;
    margin: 0 0 6px 0;
    position: relative;

  }

  h6 {
    color: #364a63;
    margin: 0;
    font-size: 14px;
  }
}

.map-view-document-details-base {
  margin-top: 25px;
}

.map-view-document-details-base span {
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
}

.map-view-document-details-base h6 {
  color: #526484;
  margin: 0 0 10px 0;
}