.activity-report-base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90vh;
  background-color: rgb(255, 255, 255);
  display: block;
  overflow: scroll;

  @media (max-width: 768px) {
    width: 80%;
  }

  .MuiTabs-flexContainer {
    overflow: auto;
  }
}

.field-log-content-div {
  padding: 15px 30px;
  width: 100%;
  overflow: scroll;

  > div {
    border: 1px solid #d4deea;
    border-radius: 3px;
  }

  .MuiBox-root {
    padding: 0;
  }
}
.activity-close-button {
  border: 1px solid #0160e0;
  border-radius: 5px;
  color: #0160e0;
  cursor: pointer;
  font-weight: 600;
  height: 35px;
  background: white;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-report-content {
  padding: 15px 30px;
  display: block;
  flex: 1;
  overflow: auto;

  > div {
    border: 1px solid #d4deea;
  }
}

.activity-report-content-header {
  border-bottom: 1px solid #d4deea;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}

.activity-report-content-header span {
  font-weight: 500;
  font-size: 14px;
  color: #364a63;
}

.activity-download-button {
  padding: 5px 15px;
  background-color: #0160e0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.activity-download-icon {
  margin-right: 10px;
}

.activity-report-content-body {
  width: 100%;
  max-height: calc(80vh - 212px);
  overflow: auto;
  padding: 10px 15px;

  input,
  textarea {
    width: 100%;
    border: 1px solid #d4deea;
    border-radius: 3px;
    padding: 12px 15px;
    color: #364a63;
    font-size: 14px;
    resize: none;
  }

  .activity-report-data {
    width: 100%;
    border: 1px solid #d4deea;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding-left: 4px;
  }
}

.activity-report-select {
  width: 50%;
  height: 35px;
  margin-bottom: 5px;
  border: 1px solid #d4deea;
}

.activity-report-inputs-div {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  @media (max-width: 768px) {
    grid-template-columns: initial;
  }

  p {
    color: #526484;
    font-size: 14px;
    margin: 0 0 8px 0;
  }
}

.change-request-button-reject {
  padding: 10px 40px;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 10px;
  color: red;
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.change-request-button-accept {
  padding: 10px 40px;
  background-color: rgb(54, 161, 161);
  border-radius: 5px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.activity-report-rejection-note {
  width: 100%;
  height: 100px;
}

.activity-report-content-no-data-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-theme {
  display: block;
  width: 100%;
  height: calc(100vh - 180px);

  overflow-x: auto;
  thead {
    position: sticky;
    top: 0;
    background: #f8f9fc;
    th {
      padding: 10px;
      font-weight: 600;
      vertical-align: middle;
      text-align: left;
      background: #f8f9fc;
      color: #8094ae;
      font-size: 14px;
    }
  }
  tbody {
    border-top: none !important;
    border-bottom: 1px solid #ddd !important;
    height: 100%;

    tr {
      border-top: 1px solid #ddd;
      td {
        padding: 10px;
        word-break: break-all;
        font-size: 14px;
        vertical-align: middle;
        color: #364a63 !important;
        text-align: left;
      }
    }
  }
}

.field-logs-no-data-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-weight: bold;
  text-align: center;
}
