@import '../../../../../theme/ThemeColors';

.field-updates-table-body {
  height: calc(100vh - 428px);
  overflow: auto;

  @media (max-width: 1024px) {
    height: calc(100vh - 358px);
  }

  @media (max-width: 768px) {
    display: none;
  }

}

.field-update-card-base {
  display: table;
  width: 100%;
  border-bottom: 1px solid #D4DEEA;
}

.field-update-card-base span {
  word-break: break-all;
  display: table-cell;
  table-layout: fixed;
  padding: 10px 5px;
  font-size: 14px;
  vertical-align: middle;
  color: #364A63;
  margin-left: 10px;

  svg {
    font-size: 18px;
  }
}

.field-updates-body-checkInput {
  width: 3%;
}

.field-updates-body-taskItem {
  width: 10%;
}

.field-updates-body-fieldLogs {
  width: 12%;
}

.field-updates-body-activityReport {
  width: 13%;
}

.field-updates-body-changeRequest {
  width: 15%;
}

.field-updates-body-milestoneApproval {
  width: 15%;
}

.field-updates-body-status {
  width: 13%;
}

.field-updates-body-controlActivity {
  width: 10%;
}

.field-updates-body-actions {
  width: 10%;
}

.milestone-accepted-icon {
  color: $success-icon-color;
  margin-right: 5px;
  vertical-align: middle;
}

.milestone-rejected-icon {
  color: $rejected-icon-color;
  margin-right: 5px;
  vertical-align: middle;
}

.field-update-status-select {
  color: #364A63;

  background-color: transparent;
  border: none;
  font-size: 14px;
}


.control-activity-icons {
  color: $icon-color;
  margin-right: 5px;
  cursor: pointer;
}

.webex-icon {
  height: 25px;
  cursor: pointer;
  width: auto;
}

.filed-update-menu-icon {
  color: $menu-icon-color;
  cursor: pointer;
  font-size: $menu-icon-size;
}