// Buttons
$button-colors-primary: #0160e0;
$button-colors-secondary: rgb(255, 44, 44);
$button-border-radius: 5px;
$form-submit-button-color: #e78201;
$form-cancel-button-color: rgb(90, 90, 90);

// Borders
$border-colors: rgb(153, 153, 153);
$border-size: 1px;
$border-radius-size: 5px;

// Table Headers
$table-header-text-color: rgb(104, 104, 104);
$table-header-height: 50px;
$table-header-font-weight: 500;
$table-header-font-size: 18px;

//Table Data
$table-data-color-1: rgb(59, 59, 59);
$table-data-color-2: rgb(31, 31, 31);
$table-data-padding: 10px;

// Icon Color
$search-icon-color: rgb(128, 128, 128);
$menu-icon-color: rgb(126, 126, 126);
$icon-color: rgb(105, 105, 105);
$edit-icon-color: rgb(126, 126, 126);
$success-icon-color: aqua;
$rejected-icon-color: red;

//Menu Icon Size
$menu-icon-size: 30px;

//Text Colors
$label-text-color: rgb(63, 63, 63);
$title-text-color: rgb(88, 88, 88);
