.create_button_color {
  background-color: blue;
  color: #fff;
  border-radius: 5px;
  padding: 7px 10px;
  text-align: center;
  cursor: pointer;
}

.submit_button_colors {
  background-color: orange;
  color: #fff;
  border-radius: 5px;
  padding: 10px 18px;
  text-align: center;
  cursor: pointer;
}

.cancel-button {
  color: rgba(27, 27, 27, 0.842);
  font-weight: 500;
  cursor: pointer;
}
