@import '../../../theme/ThemeColors';

.search-div {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 60px;
  border-bottom: 1px solid #d4deea;
}

.search-input {
  height: 40px;
  width: 40%;
  padding-left: 30px;
  border: $border-size solid $border-colors;
  color: rgba(0, 0, 0, 0.479);
  font-size: 16px;
  border-radius: 3px;
}

.delete-botton {
  margin-left: auto;
  margin-right: 10px;
  color: blue;
  font-size: 20px;
  cursor: pointer;
}

.company-search-icon {
  position: absolute;
  margin-left: 5px;
  font-size: 25px;
  color: $search-icon-color;
}