@import '../../../../theme/ThemeColors';

.assign-work-activity-table-data {
  display: table;
  width: 100%;
  border-bottom: 1px solid #D4DEEA;


  &:last-child {
    border: none;
  }

}

.assign-work-activity-table-data span {
  display: table-cell;
  table-layout: fixed;
  padding: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #364A63;
  margin-left: 10px;

  svg {
    font-size: 18px;
  }
}

.assign-work-activities-card-menu-icon {
  font-size: $menu-icon-size;
  color: $menu-icon-color;
  margin-right: 20px;
  cursor: pointer;
}

.assign-work-activities-card-check-input {
  width: 2%;
}

.assign-work-activities-card-project-name {
  width: 15%;

  display: inline-block;

}

.assign-work-activities-card-company {

  width: 10%;
  display: inline-block;

}

.assign-work-activities-card-company .assign-work-activities-card-taskId {

  width: 8%;
  display: inline-block;

}

.assign-work-activities-company {

  width: 10%;
  display: inline-block;

}

.assign-work-activities-card-task-name {

  width: 15%;
  display: inline-block;

}

.assign-work-activities-card-task-description {

  width: 17%;
  display: inline-block;

}

.assign-work-activities-card-isMilestone {

  width: 10%;
  display: inline-block;

}

.assign-work-activities-card-type {

  width: 10%;
}

.assign-work-activities-card-status {

  width: 10%;
  display: inline-block;

}

.assign-work-activities-card-actions {
  width: 3%;
}