.field-log-close-button {
  padding: 10px 30px;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
  font-weight: 600;
  float: right;
  display: block;
  margin-top: 10px;
}

.field-log-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
  border-top: 1px solid #d4deea;
  height: calc(100vh - 340px);
  overflow: auto;

}

.field-log-data p {
  color: #526484;
  font-size: 14px;
  margin: 0 0 8px 0;
}

.field-log-data div {
  border: 1px solid #d4deea;
  width: 97%;
  height: 35px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.field-log-data-projectId {
  grid-column: 1;
  grid-row: 1;
}

.field-log-data-taskName {
  grid-column: 2;
  grid-row: 1;
}

.field-log-data-time {
  grid-column: 1;
  grid-row: 2;
}

.field-log-data-date {
  grid-column: 2;
  grid-row: 2;
}

.field-log-data-note {
  grid-column: 1;
  grid-row: 3;
  width: 100%;

  div {
    height: 100px;
    width: 200%;
    overflow: auto;
    display: block;
    padding: 3px;
  }
}

.field-log-data-logs {
  grid-column: 1;
  grid-row: 4;
}

.field-log-data-status {
  grid-column: 2;
  grid-row: 4;
}

.field-log-data-barcode {
  grid-column: 1;
  grid-row: 5;
}

.field-log-data-user {
  grid-column: 2;
  grid-row: 5;
}

.field-log-data-field-operator {
  grid-column: 1;
  grid-row: 6;
}

.field-log-data-task-notification {
  grid-column: 2;
  grid-row: 6;
}

.field-log-data-barcode-value {
  grid-column: 1;
  grid-row: 7;
}

.field-log-data-img-address {
  grid-column: 2;
  grid-row: 7;
}

.field-log-data-lat {
  grid-column: 1;
  grid-row: 8;
}

.field-log-data-long {
  grid-column: 2;
  grid-row: 8;
}