.field-log-close-button {
  padding: 10px 30px;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
  cursor: pointer;
  font-weight: 600;
  float: right;
  display: block;
  margin-top: 10px;
}

table {
  width: 100%;
}
.field-log-data {
  display: flex;
  height: calc(100vh - 340px);
  width: 1000px;
  overflow: auto;
}

.field-log-data p {
  color: #526484;
  font-size: 14px;
  margin: 0 0 8px 0;
}

.field-log-data div {
  border: 1px solid #d4deea;
  width: 200%;
  height: 35px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.field-log-data-projectId {
  grid-column: 1;
  grid-row: 1;
}

.field-log-data-taskName {
  grid-column: 2;
  grid-row: 1;
}

.field-log-data-time {
  grid-column: 1;
  grid-row: 2;
}

.field-log-data-date {
  grid-column: 2;
  grid-row: 2;
}

.field-log-data-note {
  grid-column: 1;
  grid-row: 3;
  width: 100%;

  div {
    height: 100px;
    width: 200%;
    overflow: auto;
    display: block;
    padding: 3px;
  }
}

.field-log-data-logs {
  grid-column: 1;
  grid-row: 4;
}

.field-log-data-status {
  grid-column: 2;
  grid-row: 4;
}

.field-log-data-barcode {
  grid-column: 1;
  grid-row: 5;
}

.field-log-data-user {
  grid-column: 2;
  grid-row: 5;
}

.field-log-data-field-operator {
  grid-column: 1;
  grid-row: 6;
}

.field-log-data-task-notification {
  grid-column: 2;
  grid-row: 6;
}

.field-log-data-barcode-value {
  grid-column: 1;
  grid-row: 7;
}

.field-log-data-img-address {
  grid-column: 2;
  grid-row: 7;
}

.field-log-data-lat {
  grid-column: 1;
  grid-row: 8;
}

.field-log-data-long {
  grid-column: 2;
  grid-row: 8;
}

.image-document-content-no-data-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-theme {
  display: block;
  width: 100%;
  height: calc(100vh - 180px);

  overflow-x: auto;
  thead {
    position: sticky;
    top: 0;
    background: #f8f9fc;
    th {
      padding: 10px;
      font-weight: 600;
      vertical-align: middle;
      text-align: left;
      background: #f8f9fc;
      color: #8094ae;
      font-size: 14px;
    }
  }
  tbody {
    border-top: none !important;
    border-bottom: 1px solid #ddd !important;
    height: 100%;

    tr {
      border-top: 1px solid #ddd;
      td {
        padding: 10px;
        word-break: break-all;
        font-size: 14px;
        vertical-align: middle;
        color: #364a63 !important;
        text-align: left;
      }
    }
  }
}

.field-logs-no-data-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-weight: bold;
  text-align: center;
}

.view-docs-in-ecm {
  cursor: pointer;
  color: blue;
}
