.work-list-base {
  border: 1px solid black;
  height: calc(600px + 10vh);
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.work-list-header {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.work-list-search-input {
  width: calc(300px + 10%);
  padding: 0px 30px;
  height: 30px;
  padding-left: 40px;
}

.work-list-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.work-list-search-icon {
  position: absolute;
  left: 5px;
}
.work-list-table-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.247);
  padding: 15px;
  width: 100%;
  font-size: 18px;
  display: table;
  width: 100%;
}

.work-list-table-header span {
  display: table-cell;
  table-layout: fixed;
  color: rgb(100, 100, 100);
  font-weight: 500;
}

.header-worklist-check-input {
  width: 3%;
}

.header-worklist-task-id {
  width: 7%;
}

.header-worklist-task-name {
  width: 10%;
}

.header-worklist-task-description {
  width: 20%;
}

.header-worklist-task-milestone {
  width: 10%;
}

.header-worklist-task-type {
  width: 10%;
}

.header-worklist-task-status {
  width: 10%;
}

.header-worklist-task-actions {
  width: 10%;
}
