.work-list-base {
  margin-top: 16px;
  border: 1px solid #d4deea;
  border-radius: 3px;
  width: 100%;
  overflow: auto;

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.work-list-header {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 60px;
  border-bottom: 1px solid #D4DEEA;

  @media (max-width: 768px) {
    justify-content: space-between;
    padding: 0 10px;
  }
}

.work-list-search-input {
  height: 30px;
  width: 100%;
  padding-left: 28px;
  border: 1px solid #D4DEEA;
  color: #8094AE;
  border-radius: 3px;
}

.work-list-input-container {
  width: 25%;
  margin-right: 16px;
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 5px;
  }
}

.work-list-search-icon {
  position: absolute;
  margin-top: 6px;
  margin-left: 8px;
  color: #8094AE;
  font-size: 18px;
}

.project-work-list-table-tbody {
  // @media (max-width: 1024px) {
  //   width: calc(100vw - 303px);
  //   overflow: auto;
  // }

  @media (max-width: 768px) {
    width: 100%;
  }


}

.work-list-table-header {
  display: table;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #D4DEEA;
  background: #F8F9FC;
  font-weight: 600;
  // padding: 0px 7px;
  color: #8094AE;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.work-list-table-header span {
  display: table-cell;
  padding: 15px 10px;

  table-layout: fixed;
  vertical-align: middle;

  p {
    margin: 0;
  }
}

.worklist-table-body {
  height: calc(100vh - 391px);
  overflow: auto;

  @media (max-width: 1024px) {
    height: calc(100vh - 411px);


  }

  @media (max-width: 991.98px) {
    display: none;
  }
}

.header-worklist-check-input {
  width: 3%;
}

.header-worklist-task-id {
  width: 7%;
}

.header-worklist-task-name {
  width: 10%;
}

.header-worklist-task-description {
  width: 20%;
}

.header-worklist-task-milestone {
  width: 10%;
}

.header-worklist-task-type {
  width: 10%;
}

.header-worklist-task-status {
  width: 10%;
}

.header-worklist-task-actions {
  width: 10%;
}

.mobile_table_project_worklist {
  height: calc(100vh - 314px);
  overflow: auto;
  display: none;

  @media (max-width: 991.98px) {
    height: calc(100vh - 340px);
    display: block;
  }

  @media (max-width: 768px) {
    height: calc(100vh - 314px);
    display: block;
  }

  >div:nth-child(even) {
    background: #d4deea;

    .grid_3_1 {
      border-top: 1px solid white;
    }
  }
}

.grid_3_1 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 1rem;
  border-top: 1px solid #d4deea;
  padding: 10px;

  h3 {
    color: #8094ae;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }

  svg {
    fill: #929db0;
  }

  p {
    margin: 0;
    color: #364a63;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.blue_text {
      color: #2586ff;
    }

    span {
      color: #2586ff;
    }
  }
}