@import '../../../theme/ThemeColors';

.company_container {
  padding: 15px 40px 10px 40px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    padding: 15px;
  }

  @media (max-width: 991.98px) {
    padding: 10px;
  }

  .MuiTabs-root {
    min-height: inherit;
  }

  .MuiButtonBase-root {
    padding: 9px 0;
    margin-right: 28px;
    text-transform: initial;
    min-height: inherit;

    @media (max-width: 768px) {
      padding: 7px 0;
    }
  }
}

.company_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;

  h3 {
    margin: 0;
    font-size: 20px;
    color: #364a63;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  button {
    background: #0160e0;
    color: white;
    padding: 6px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}






.create_new_company_button {
  padding: 10px 25px;
  background-color: $button-colors-primary;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: -30px;
}