@import '../../../theme/ThemeColors';

.company_container {
  width: 95%;
  margin: auto;
  padding-bottom: 20px;
}

.company_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 0 18px;
}

.header_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #1976d2;
  border: none;
  outline: none;
  color: #fff;
  padding: 6px 5px;
  border-radius: 3px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
};


.company_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #364A63;
}

.create_new_company_button {
  padding: 10px 25px;
  background-color: $button-colors-primary;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: -30px;
}
