.company_container{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.company_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #1976d2;
    border: none;
    outline: none;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
}