.field-log-base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  display: block;
  overflow: auto;

  @media (max-width: 768px) {
    width: 90%;
  }

  .MuiTabs-flexContainer {
    overflow: auto;
  }
}

.field-log-content-div {
  padding: 15px 30px;

  >div {
    border: 1px solid #d4deea;
    border-radius: 3px;
  }

  .MuiBox-root {
    padding: 0;
  }
}

.file-logs-download-app-button {
  margin-top: 8px;
  margin-bottom: 5px;
  background-color: rgb(52, 52, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 10px;
}

.download-all-files-icon {
  margin-right: 5px;
  display: block;
}

.field-log-close-button {
  padding: 5px 15p;
  border: 1px solid #0160e0;
  border-radius: 5px;
  color: #0160e0;
  background: white;
  cursor: pointer;
  font-weight: 500;
  float: right;
  display: block;
  margin-top: 10px;
}

.field-log-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
  border-top: 1px solid #d4deea;
  height: calc(100vh - 342px);
  overflow: auto;
  overflow: auto;

}

.field-log-data p {
  color: #526484;
  font-size: 14px;
  margin: 0 0 8px 0;
}

.field-log-data div {
  border: 1px solid #d4deea;
  width: 97%;
  height: 35px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.field-log-data-projectId {
  grid-column: 1;
  grid-row: 1;
}

.field-log-data-taskName {
  grid-column: 2;
  grid-row: 1;
}

.field-log-data-time {
  grid-column: 1;
  grid-row: 2;
}

.field-log-data-date {
  grid-column: 2;
  grid-row: 2;
}

.field-log-data-note {
  grid-column: 1;
  grid-row: 3;
  width: 100%;

  div {
    height: 100px;
    width: 200%;
    overflow: auto;
    display: block;
    padding: 3px;
  }
}

.field-log-data-logs {
  grid-column: 1;
  grid-row: 4;
}

.field-log-data-status {
  grid-column: 2;
  grid-row: 4;
}

.field-log-data-barcode {
  grid-column: 1;
  grid-row: 5;
}

.field-log-data-user {
  grid-column: 2;
  grid-row: 5;
}