.footer_container{
    padding: 11px 0 11px 14px;
    border-top: 1px solid #D4DEEA;
}

.footer_heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8094AE;
}