.milestone-approval-modal-base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  // height: 50%;
  max-height: 90%;
  background-color: rgb(255, 255, 255);
  display: block;
  overflow: auto;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.milestone-approval-modal-header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.milestone-approval-left {
  background-color: #0971fe;
  width: 20px;
  height: 100%;
  margin-right: 20px;
}

.milestone-approval-modal-body {
  width: 100%;
  padding: 25px 50px 20px 50px;

  label {
    word-wrap: break-word;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: left;
    color: #526484;
  }

  input,
  textarea {
    border: 1px solid #d4deea;
    border-radius: 3px;
    padding: 15px;
    resize: none;
    width: 100%;
    margin-bottom: 18px;

    &:focus {
      outline: none;
      border: 1px solid #d4deea;
    }
  }
}

.milestone-approval-submit-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 50px 30px 50px;
}

.milestone-approval-submit-div span {
  margin-left: 30px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  font-weight: 500;
  line-height: initial;

  border-radius: 5px;
}

.milestone-approval-button-cancel {
  color: #8094ae;
}

.handle-approve-button {
  all: none;
  padding: 10px 30px;
  border: 0px;
  border-radius: 4px;
  background-color: #e78201;
  color: #fff;
}
