.activity-report-base {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 90%;
  }

  .text-right {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.activity-close-button {
  border: 1px solid #0160E0;
  border-radius: 5px;
  color: #0160E0;
  cursor: pointer;
  font-weight: 600;
  height: 35px;
  background: white;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-report-content {
  padding: 15px 30px;
  display: block;
  flex: 1;
  overflow: auto;

  >div {
    border: 1px solid #D4DEEA;

  }
}

.activity-report-content-header {
  border-bottom: 1px solid #D4DEEA;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}

.activity-report-content-header span {
  font-weight: 500;
  font-size: 14px;
  color: #364A63;
}

.activity-download-button {
  padding: 5px 15px;
  background-color: #0160E0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.activity-download-icon {
  margin-right: 10px;
}

.activity-report-content-body {
  width: 100%;
  max-height: calc(80vh - 212px);
  overflow: auto;
  padding: 10px 15px;

  input,
  textarea {
    width: 100%;
    border: 1px solid #D4DEEA;
    border-radius: 3px;
    padding: 12px 15px;
    color: #364A63;
    font-size: 14px;
    resize: none;
  }
}

.activity-report-inputs-div {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  @media (max-width: 768px) {
    grid-template-columns: initial;
  }

  p {
    color: #526484;
    font-size: 14px;
    margin: 0 0 8px 0;
  }



}