$border-color-pagination: rgb(209, 209, 209);

.pagination-base {

  height: 72px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #D4DEEA;


  @media (max-width: 768px) {
    display: none;
  }
}

.pagination-base ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  border: 1px solid #D4DEEA;
  border-radius: 4px;
}

.pagination-base li {
  display: flex;
  border: 1px solid #D4DEEA;
  border-right: 0px;
  padding: 9px 17px;
  font-size: 14px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #8094AE;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background: white;
    color: #8094AE;
  }

  &.selected {
    background-color: #0160e0;
    color: white;
  }
}

.pagination-base li:last-child {
  color: #0160e0;
  background-color: #F8F9FC;
  border: 1px solid $border-color-pagination;
  border-radius: 0 3px 3px 0;
}

.pagination-base li:first-child {
  border-radius: 3px 0 0 3px;

  color: #0160e0;
  background-color: #F8F9FC;
}

// .pagination-active-div {
//   background-color: #0160e0;
//   padding: 15px;
//   width: 100%;
//   color: #fff;
//   text-align: center;
// }

// .pagination-disabled-div {
//   color: #0160e0;
//   text-align: center;
//   opacity: 0.8;
// }