.documents-base-div {
  border: 1px solid #d4deea;
  border-radius: 3px;
  width: 100%;
  overflow: auto;

  .no-data-found {
    display: flex;
    height: calc(100vh - 320px);
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    margin-top: 0;
  }
}

.pagination-numbers {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.documents-search-div {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  padding: 10px;
}

.document-search-input {
  width: calc(300px + 20%);
  padding: 0px 30px;
  height: 30px;
}

.document-search-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
  color: rgba(0, 0, 0, 0.548);
}

.document-header-table {
  display: table;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #d4deea;
  background: #f8f9fc;
  font-weight: 600;
  // padding: 0px 7px;
  color: #8094ae;

  @media (max-width: 768px) {
    display: none;
  }

  span {
    display: table-cell;
    table-layout: fixed;
    padding: 10px 5px;
    color: #8094ae;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;

    p {
      margin: 0;
    }
  }
}

.document-name {
  width: 30%;
}

.document-importd-from {
  width: 20%;
}

.document-type {
  width: 20%;
}

.document-uploaded-on {
  width: 20%;
}

.document-actions {
  width: 10%;
}