.documents-base-div {
  border: 1px solid black;
  height: calc(600px + 10vh);
  display: flex;
  flex-direction: column;
}

.pagination-numbers {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.documents-search-div {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  padding: 10px;
}

.document-search-input {
  width: calc(300px + 10%);
  padding: 0px 30px;
  height: 30px;
}

.document-search-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
  color: rgba(0, 0, 0, 0.548);
}
