.documents-base-div {
  border: 1px solid black;
  height: calc(600px + 10vh);
  display: flex;
  flex-direction: column;

  .no-data-found {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.pagination-numbers {
  margin-top: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.documents-search-div {
  height: 50px;
  border-bottom: 1px solid black;
  display: flex;
  padding: 10px;
}

.document-search-input {
  width: calc(300px + 20%);
  padding: 0px 30px;
  height: 30px;
}

.document-search-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
  color: rgba(0, 0, 0, 0.548);
}

.document-header-table {
  display: table;
  width: 100%;
  border-bottom: 1px solid #d4deea;
  padding: 10px 20px;

  span {
    display: table-cell;
    table-layout: fixed;
  }
}

.document-name {
  width: 30%;
}

.document-importd-from {
  width: 20%;
}

.document-type {
  width: 20%;
}

.document-uploaded-on {
  width: 20%;
}

.document-actions {
  width: 10%;
}
