.project-document-card-base-div {
  display: table;
  width: 100%;
  border-bottom: 1px solid #d4deea;
  padding: 10px 20px;
}

.project-document-card-base-div span {
  display: table-cell;
  table-layout: fixed;
}

.document-menu-icon {
  cursor: pointer;
}
