.fb_container {
  padding: 15px 40px 10px 40px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    padding: 15px;
  }

  @media (max-width: 991.98px) {
    padding: 10px;
  }

  .MuiTabs-root {
    min-height: inherit;
  }

  .MuiButtonBase-root {
    padding: 9px 0;
    margin-right: 28px;
    text-transform: initial;
    min-height: inherit;

    @media (max-width: 768px) {
      padding: 7px 0;
    }
  }
}

.fb_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;

  h3 {
    margin: 0;
    font-size: 20px;
    color: #364a63;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  button {
    background: #0160e0;
    color: white;
    padding: 6px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.breadcrumbs {
  color: #a1a8b2;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  div:last-child {
    cursor: default;
  }

  div+div:before {
    content: '/';
  }
}

.table-container {
  border: 1px solid #d4deea;
  border-radius: 3px;
  width: 100%;

  .table-container-head {
    height: 60px;
    border-bottom: 1px solid #d4deea;
  }

  .table-container-btm {
    height: 60px;
    border-top: 1px solid #d4deea;
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .table-responsive {
    height: calc(100vh - 337px);
    overflow: scroll;

    @media (max-width: 768px) {
      width: calc(100vw - 25px);
      height: calc(100vh - (72px + 72px + 64px + 16px + 35px + 46px + 55px + 25px + 27px)) !important;
    }
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  @media (max-width: 1024px) {
    width: calc(100vw - 307px);
  }

  @media (max-width: 768px) {
    width: calc(100vw - 25px);
    display: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      vertical-align: top;
    }

    thead {
      position: sticky;
      top: 0;
      background: #f8f9fc;
    }

    th {
      padding: 10px;
      font-weight: 600;
      vertical-align: middle;

      text-align: left;
      background: #f8f9fc;

      color: #8094ae;
      font-size: 14px;
    }

    th,
    td {
      min-width: 100px;

      &.check-con {
        min-width: inherit;
        width: 50px;
      }
    }

    td {
      border-top: 1px solid #d4deea;
      padding: 15px 10px;
      color: #364a63;
      font-size: 14px;
      text-align: left;
      vertical-align: middle;

      &.blue-text {
        color: #2586ff;
      }

      svg {
        fill: #929db0;
      }
    }
  }
}

.dfc {
  display: flex;
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.copy-right-txt {
  border-top: 1px solid #d4deea;
  padding: 10px 15px;
  color: #8094ae;
  font-size: 12px;
}

.form_input_container {
  width: 100%;
  margin-bottom: 14px;

  .form_label {
    color: #526484;
    font-size: 14px;
    margin-bottom: 8px;
    width: 100%;
    display: block;
  }

  .form_input {
    border: 1px solid #d4deea;
    border-radius: 3px;
    width: 100%;
    padding: 8px;
    resize: none;
  }

  span {
    line-height: 11px;
    font-size: 12px;
    margin-top: 4px;
    color: red;
    text-align: right;
    display: block;
  }
}

.sat-con {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;

  >div {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d4deea;
    border-radius: 50%;
    font-size: 14px;
    color: #000;

    &:hover,
    &.active {
      background: #24a6ff;
      color: white;
    }
  }
}

.add_new_feedback_button {
  padding: 10px 20px;
  background-color: #0160e0;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-btm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;

  button {
    padding: 9px 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 14px;

    &.orange-btn {
      background: #e78201;
      color: white;
    }

    &.transparent-btn {
      background: transparent;
      color: #8094ae;
    }
  }
}

.MuiList-root {
  padding: 0 !important;

  li {
    padding: 10px 18px;
    font-size: 14px;
    color: #8094ae;
    margin: 0;
    min-width: 110px;

    &:hover {
      background: #8094ae;
      color: white;
    }

    .MuiButtonBase-root {
      padding: 0;
      font-size: initial;
      line-height: initial;
      padding-right: 10px;
    }

    p {
      margin: 0;
    }
  }
}

.table_slider_container {
  .table_slider {
    display: flex;
    align-items: center;
    border: 1px solid #d4deea;
    border-radius: 4px;

    button {
      border: none;
      border-radius: 0;
      margin: 0;
    }

    .previous_button {
      button {
        border-right: 1px solid #d4deea;

        svg {
          transform: rotate(180deg);
        }
      }
    }

    .next_button {
      button {
        // border-left: 1px solid #D4DEEA;
      }
    }

    .page_buttons {
      display: flex;
      align-items: center;

      span {
        display: block;
        display: flex;
        height: 100%;
        padding: 13px 17px;
        border-right: 1px solid #d4deea;
        cursor: pointer;

        @media (max-width: 768px) {
          padding: 7px 10px;
        }

        &.active-num {
          background: #0160e0;
          color: white;
        }

        &:hover {
          background: #8094ae;
          color: white;
        }
      }
    }
  }
}

.grid-3-1 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 1rem;
  border-top: 1px solid #d4deea;
  padding: 10px;

  h3 {
    color: #8094ae;
    font-weight: 600;

    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }

  svg {
    fill: #929db0;
  }

  p {
    margin: 0;
    color: #364a63;
    font-size: 14px;

    &.blue-text {
      color: #2586ff;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

.mobile-table {
  height: calc(100vh - 319px);
  overflow: auto;
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  >div:nth-child(even) {
    background: #d4deea;

    .grid-3-1 {
      border-top: 1px solid white;
    }
  }
}