.verify-email-base {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
}

.verify-email-left {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verify-email-right {
  width: 570px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 50px;
  background: #0160e0;
}
