.table-head-grid {
  display: flex;
  border-bottom: 1px solid #d4deea;
  flex-wrap: wrap;

  &.table-header-grid {
    background: #f8f9fc;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    width: 800px;
  }

  >div {
    padding: 10px;
    font-size: 14px;
    color: #8094ae;
  }

  .table-check {
    width: 5%;
  }

  .table-user {
    width: 20%;
  }

  .table-date {
    width: 10%;
  }

  .table-address {
    width: 20%;
  }

  .table-city {
    width: 10%;
  }

  .table-satis {
    width: 10%;
  }

  .table-zip {
    width: 25%;
  }

  .table-doc {
    width: 15%;
  }

  .table-actions {
    width: 10%;
  }
}

.tabletbody {
  .table-head-grid {
    >div {
      color: #364a63;
    }

    &.table-details {
      background: #f8f9fc;
      width: 100%;
      border: none;

      h3 {
        color: #8094ae;
        font-size: 14px;
        margin: 0 0 16px 0;
      }

      p {
        color: #364a63;
        font-size: 14px;
      }

      .doc-details {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        >div {
          font-size: 10px;
          color: #364a63;
          background: #c9e2ff;
          padding: 6px 10px;
          border-radius: 12px;
          margin-right: 5px;
        }
      }

      .table-address {
        width: 25%;
      }

      .table-zip {
        width: 20%;
      }
    }
  }
}