@import '../../../../../../theme/ThemeColors';

.work-list-table-body {
  display: table;
  width: 100%;
  border-bottom: 1px solid #D4DEEA;

  &:last-child {
    border: none;
  }
}

.work-list-table-body span {
  display: table-cell;
  table-layout: fixed;
  padding: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #364A63;
  margin-left: 10px;

  p {
    margin: 0;
  }

  svg {
    font-size: 18px;
  }
}

.work-list-card-check-input {
  width: 3%;
}

.work-list-card-task-id {
  width: 12%;
}

.work-list-card-task-name {
  width: 15%;
}

.work-list-card-task-description {
  width: 35%;
}

.work-list-card-task-milestone {
  width: 10%;
}

.work-list-card-task-type {
  width: 7%;
}

.work-list-card-task-status {
  width: 13%;
}

.work-list-card-task-actions {
  width: 5%;
}

.work-list-menu-icon {
  color: $menu-icon-color;
  font-size: 25px;
  cursor: pointer;
  font-size: $menu-icon-size;
}