@import '../../../../theme/ThemeColors';

.assign-project-modal-base {
  width: 400px;
  padding: 24px;
  height: 100%;

  @media (max-width: 768.98px) {
    width: 100vw;
  }
}

.assign-project-modal-base>h2 {
  font-size: 18px;
  color: #364A63;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.assign-project-form-base {
  label {
    color: #526484;
    font-size: 14px;
    margin-bottom: 8px;
    width: 100%;
    display: block;
  }
}

.assign-project-select-input {
  width: 100%;
  border: 1px solid #D4DEEA;
  border-radius: 3px;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  color: #364A63;
  margin-bottom: 15px;
  outline: none;
}

.assign-work-submit-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;

  button {
    padding: 9px 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 14px;
  }
}

.assign-work-submit-button {
  background: #E78201;
  color: white;
}


.assign-work-cancel-button {
  background: transparent;
  color: #8094AE;
}