.project-management-dashboard-base-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  height: calc(100vh - 219px);
  overflow: auto;

  @media (max-width: 1024px) {

    height: calc(100vh - 225px);

  }

  @media (max-width: 768px) {
    height: calc(100vh - 213px);

  }
}

.project-management-dashoard-graph {
  width: calc(50% - 12px);
  border: 1px solid #E9E9E9;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    width: 100%;
    margin: 24px 0 !important;
  }

  &.graph-1 {
    margin-right: 12px;
  }

  &.graph-2 {
    margin-left: 12px;
  }

  h5 {
    padding: 12px;
    color: #364A63;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #E9E9E9;

  }


}

.pm-dg-wrap {
  width: 100%;
  height: 290px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;


}

.pie-chart {
  width: 250px;
}

.project-management-dashoard-graph-3 {
  width: 40%;
  border: 1px solid #E9E9E9;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    width: 100%;
  }

  .head-wrap-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #E9E9E9;

    h5 {
      color: #364A63;
      font-size: 13px;
      font-weight: 600;
      margin: 0;

    }

    select {
      border: 1px solid #E9E9E9;
      font-size: 12px;
      padding: 5px;
      color: #364a63;
      outline: none;
      border-radius: 3px;

    }
  }
}

.project-management-dashoard-table-1 {
  margin-bottom: 24px;
  width: 100%;
  border: 1px solid #E9E9E9;
  overflow: auto;

  h5 {
    padding: 12px;
    margin: 0;

    color: #364A63;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #E9E9E9;

  }
}

.project-management-dashoard-table-1 table {
  width: 100%;
  border-collapse: collapse;
}

.project-management-dashoard-table-1 td {
  vertical-align: middle;
  padding: 12px;
  font-size: 12px;
  color: #364A63;
}

.project-management-dashoard-table-1 tbody tr {
  border-top: 1px solid #E9E9E9;
}

.project-management-dashoard-table-1 th {
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  color: #8094AE;
}

.project-management-dashoard-table-2 {
  margin-bottom: 24px;
  width: 100%;
  border: 1px solid #E9E9E9;
  width: 60%;
  overflow: auto;

  @media (max-width: 768px) {
    width: 100%;
  }

  h5 {
    padding: 12px;
    color: #364A63;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #E9E9E9;
    display: flex;
    margin: 0;

    align-items: center;

    .rect-wrap {
      display: block;
      width: 10px;
      height: 10px;
      background: #43BEE1;
      margin-right: 5px;
    }
  }
}

.project-management-dashoard-table-2 tbody tr {
  border-top: 1px solid #E9E9E9;
}

.project-management-dashoard-table-2 td {
  text-align: center;
  margin-top: 2px;
  padding: 10px;
  color: rgb(51, 51, 51);
}

.project-management-dashoard-table-2 th {
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  color: #8094AE;
}

.project-management-dashoard-table-2 tr {
  vertical-align: middle;
  padding: 12px;
  font-size: 12px;
  color: #364A63;
}



.project-management-dashbord-pie {
  width: 250px !important;
  height: 250px !important;
}