.datagrid_contaier{
    border: 1px solid #ddd;
    height: 76vh;
}


.datagrid_head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.datagrid_tables{
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
}


.head_row_head{
    text-align: left;
    padding: 12px 15px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #8094AE;
}



.table_heads_row{
    border-top: 1px solid #ddd;
}

.head_search{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 300px;
    padding: 2px 0;
}

.search_input{
    border: none;
    outline: none;
    width: 100%;
}

.delete_button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #1976d2;
}

.table_body{
    border-bottom: 1px solid #ddd;
    height: 100%;
}

.table_slider_container{
    padding: 20px;
}

.table_slider{
    display: flex;
    width: max-content;
}

.page_buttons{
    display: flex;
}

.chapter_button{
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #000000;
    :first-child{
        background: #1976d2;
    }
}


.progress_container{
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 150px;
}