.row_description{
    padding: 8px 15px;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #8094AE;
}

.row_container{
    border-top: 1px solid #ddd;
}