.edit-modal-base-div {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D4DEEA;
}

.left-span {
  background-color: #0971FE;
  width: 20px;
  height: 100%;
  margin-right: 15px;
}

.edit-modal-header-text {
  color: #364A63;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}