@import '../../../../theme/ThemeColors';

.milestone-approval-card {
  display: table;
  width: 100%;
  border-bottom: 1px solid #D4DEEA;

  &:last-child {
    border: none;
  }
}

.milestone-approval-card span {
  display: table-cell;
  table-layout: fixed;
  padding: 10px;
  font-size: 14px;
  vertical-align: middle;
  color: #364A63;
  margin-left: 10px;

  p {
    margin: 0;
  }

  svg {
    font-size: 18px;
  }
}

.milestone-approval-card-checkInput {
  width: 3%;
}

.milestone-approval-card-company {
  width: 15%;
}

.milestone-approval-card-projectName {
  width: 10%;
}

.milestone-approval-card-date {
  width: 10%;
}

.milestone-approval-card-milestoneNr {
  width: 10%;
}

.milestone-approval-card-description {
  width: 10%;
}

.milestone-approval-card-status {
  width: 10%;
}

.milestone-approval-card-action {
  width: 10%;
}

.milestone-menu-icon {
  color: $menu-icon-color;
  font-size: $menu-icon-size;
  cursor: pointer;
}